EIO:CFG_1.0:5:60::
# Migrated from 5.0 to 5.60
#
EIO_BUS:

      -Name "Virtual1" -ConnectorID "SIM1"

      -Name "DeviceNet1" -BusType "DNET" -ConnectorID "PCI1"\
      -ConnectorLabel "First DeviceNet"

#MI: <-- DeviceNet_Lean not supported
#      -Name "DeviceNet_Lean" -BusType "DNLE" -ConnectorID "PCI1"\
#      -ConnectorLabel "DeviceNet Lean"
#-->

# ConnectorID changed from ETH1 to LAN3
      -Name "EtherNetIP1" -BusType "ENIP" -ConnectorID "LAN3"\
      -ConnectorLabel "EtherNet/IP" -EN_Address "0.0.0.0"\
      -EN_SubnetMask "255.255.255.0"
#
EIO_UNIT_TYPE:

      -Name "Virtual" -VendorName "ABB" -ProductName "Virtual unit"

      -Name "DN_GENERIC" -BusType "DNET" -DN_ExplicitMsgEnabled \
      -DN_C1OutputSize -1 -DN_C1InputSize -1

      -Name "d320" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "120 Vac Unit" -DN_VendorId 75 -DN_ProductCode 1\
      -DN_DeviceType 7 -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Interval 50\
      -DN_C1OutputSize 2 -DN_C1InputSize 2

      -Name "d327A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Combi Unit" -DN_VendorId 75 -DN_ProductCode 2\
      -DN_DeviceType 100 -DN_MajorRev 5 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize 6 -DN_C1InputSize 2

      -Name "d328A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "24 VDC Unit" -DN_VendorId 75 -DN_ProductCode 3\
      -DN_DeviceType 7 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize 2 -DN_C1InputSize 2

      -Name "d332A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Relay Unit" -DN_VendorId 75 -DN_ProductCode 5\
      -DN_DeviceType 7 -DN_MajorRev 2 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize 2 -DN_C1InputSize 2

      -Name "d355A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Analog Unit" -DN_VendorId 75 -DN_ProductCode 10\
      -DN_DeviceType 100 -DN_MajorRev 1 -DN_ExplicitMsgEnabled \
      -DN_C1Interval 50 -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "d651" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Combi Unit" -DN_VendorId 75 -DN_ProductCode 25\
      -DN_DeviceType 100 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize 5 -DN_C1InputSize 1

      -Name "d652" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "24 VDC Unit" -DN_VendorId 75 -DN_ProductCode 26\
      -DN_DeviceType 7 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize 2 -DN_C1InputSize 2

      -Name "d653" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Relay Unit" -DN_VendorId 75 -DN_ProductCode 27\
      -DN_DeviceType 7 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize 1 -DN_C1InputSize 1

      -Name "DN_SLAVE" -BusType "DNET" -VendorName "ABB Robotics" -DN_VendorId 8\
      -DN_ProductCode 12 -DN_DeviceType 12 -DN_ExplicitMsgEnabled \
      -DN_C1Interval 50 -DN_C1OutputSize 8 -DN_C1InputSize 8

      -Name "DN_INTERNAL_SLAVE" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "Internal DeviceNet Slave" -InternalSlave  -DN_C1OutputSize 8\
      -DN_C1InputSize 8

#MI: <-- Unit type: d350B not supported
#      -Name "d350B" -BusType "DNET" -VendorName "ABB Robotics"\
#      -ProductName "RIO Adapter" -DN_VendorId 75 -DN_ProductCode 6\
#      -DN_DeviceType 7 -DN_MajorRev 2 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
#      -DN_C1OutputSize -1 -DN_C1InputSize -1
#-->

      -Name "DN_SLAVE_FA" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "DeviceNet Fieldbus Adapter Slave" -DN_VendorId 75\
      -DN_ProductCode 98 -DN_DeviceType 12 -DN_MajorRev 2 -DN_MinorRev 1\
      -DN_ExplicitMsgEnabled  -DN_C1Type "COS" -DN_C1OutputSize 8\
      -DN_C1InputSize 8

      -Name "d351A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "IBS Adapter" -DN_VendorId 75 -DN_ProductCode 7\
      -DN_DeviceType 7 -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
      -DN_C1OutputSize -1 -DN_C1InputSize -1

#MI: <-- Unit type: d352A not supported
#      -Name "d352A" -BusType "DNET" -VendorName "ABB Robotics"\
#      -ProductName "PBUS Adapter" -DN_VendorId 75 -DN_ProductCode 8\
#      -DN_DeviceType 7 -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
#      -DN_C1OutputSize -1 -DN_C1InputSize -1
#-->

#MI: <-- Unit type: d352B not supported
#      -Name "d352B" -BusType "DNET" -VendorName "ABB Robotics"\
#      -ProductName "PBUS Adapter" -DN_VendorId 75 -DN_ProductCode 8\
#      -DN_DeviceType 7 -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Type "COS"\
#      -DN_C1OutputSize -1 -DN_C1InputSize -1
#-->

      -Name "d378A" -BusType "DNET" -VendorName "ABB Robotics"\
      -ProductName "CCLink Adapter" -DN_VendorId 75 -DN_ProductCode 17\
      -DN_DeviceType 7 -DN_MajorRev 1 -DN_ExplicitMsgEnabled  -DN_C1Interval 50\
      -DN_C1OutputSize -1 -DN_C1InputSize -1

#MI: <-- DeviceNet_Lean not supported
#      -Name "d651_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
#      -ProductName "Combi Unit" -DL_ProductCode 25
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "d652_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
#      -ProductName "24 VDC Unit" -DL_ProductCode 26
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "d653_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
#      -ProductName "Relay Unit" -DL_ProductCode 27
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "AC500_PLC_Lean" -BusType "DNLE" -VendorName "ABB Stotz"\
#      -ProductName "AC500 PLC - FPB" -DL_ProductCode 1 -DL_VendorID 760
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "DL_GENERIC" -BusType "DNLE" -DL_ProductCode 3535
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "DL_GENERIC_POLL" -BusType "DNLE" -DL_ProductCode 3535\
#      -DL_Pollrate 30
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "d351_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
#      -ProductName "IBS Adapter" -DL_ProductCode 7
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "d352_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
#      -ProductName "PBUS Adapter" -DL_ProductCode 8
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "d378_Lean" -BusType "DNLE" -VendorName "ABB Robotics"\
#      -ProductName "CCLink Adapter" -DL_ProductCode 17
#-->

      -Name "EN_SLAVE_FA" -BusType "ENIP" -VendorName "ABB Robotics"\
      -ProductName "EtherNet/IP Fieldbus Adapter" -EN_VendorId 75\
      -EN_DeviceType 12 -EN_ProductCode 28 -EN_OutputAssembly 150\
      -EN_InputAssembly 100 -EN_OutputSize 64 -EN_InputSize 64 -EN_RPI 30

      -Name "EN_SLAVE" -BusType "ENIP" -VendorName "ABB Robotics"\
      -ProductName "EtherNet/IP Slave" -EN_VendorId 75 -EN_DeviceType 43\
      -EN_ProductCode 1 -EN_OutputAssembly 112 -EN_InputAssembly 100 -EN_RPI 30

      -Name "EN_INTERNAL_SLAVE" -BusType "ENIP" -VendorName "ABB Robotics"\
      -ProductName "EtherNet/IP Internal Slave" -InternalSlave 
#
EIO_SIGNAL:

      -Name "USER_MOTIONSUP_ON" -SignalType "DO"\
      -SignalLabel "Motion suppressed when high" -UnitMap "2" -Access "All"

      -Name "USER_START_INPUT" -SignalType "DI"\
      -SignalLabel "Input Signal to Start a Program" -UnitMap "3" -Access "All"

      -Name "USER_START_OUTPUT" -SignalType "DO"\
      -SignalLabel "Output Signal to Start a Program" -UnitMap "4" -Access "All"

      -Name "USER_RESET_MOTION" -SignalType "DO"\
      -SignalLabel "Set high to reset robot motion" -UnitMap "5" -Access "All"
#
EIO_CROSS:

      -Res "USER_START_INPUT" -Act1 "USER_START_OUTPUT"
#
EIO_COMMAND_TYPE:

#MI: <-- Unit type: d350B not supported
#      -Name "LinkAddr" -UnitType "d350B" -DefValue "1" -OrderNr 1\
#      -DN_Path "6,20 64 24 01 30 01,C6,1"
#-->

#MI: <-- Unit type: d350B not supported
#      -Name "DataRate" -UnitType "d350B" -DefValue "0" -OrderNr 2\
#      -DN_Path "6,20 64 24 01 30 02,C6,1"
#-->

#MI: <-- Unit type: d350B not supported
#      -Name "StartQ" -UnitType "d350B" -DefValue "0" -OrderNr 3\
#      -DN_Path "6,20 64 24 01 30 03,C6,1"
#-->

#MI: <-- Unit type: d350B not supported
#      -Name "RackSize" -UnitType "d350B" -DefValue "0" -OrderNr 4\
#      -DN_Path "6,20 64 24 01 30 04,C6,1"
#-->

#MI: <-- Unit type: d350B not supported
#      -Name "LastRack" -UnitType "d350B" -DefValue "0" -OrderNr 5\
#      -DN_Path "6,20 64 24 01 30 05,C1,1"
#-->

#MI: <-- Unit type: d350B not supported
#      -Name "D350Breset" -UnitType "d350B" -DefValue "0" -OrderNr 6\
#      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5
#-->

      -Name "DataWidth" -UnitType "d351A" -DefValue "3" -OrderNr 1\
      -DN_Path "6,20 65 24 01 30 01,C6,1"

      -Name "D351Areset" -UnitType "d351A" -DefValue "0" -OrderNr 2\
      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5

#MI: <-- Unit type: d352A not supported
#      -Name "MasterInputSize" -UnitType "d352A" -DefValue "1" -OrderNr 1\
#      -DN_Path "6,20 67 24 01 30 02,C6,1"
#-->

#MI: <-- Unit type: d352A not supported
#      -Name "MasterOutputSize" -UnitType "d352A" -DefValue "1" -OrderNr 2\
#      -DN_Path "6,20 67 24 01 30 03,C6,1"
#-->

#MI: <-- Unit type: d352A not supported
#      -Name "StationAddress" -UnitType "d352A" -DefValue "126" -OrderNr 3\
#      -DN_Path "6,20 67 24 01 30 04,C6,1"
#-->

#MI: <-- Unit type: d352A not supported
#      -Name "D352Areset" -UnitType "d352A" -DefValue "0" -OrderNr 4\
#      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5
#-->

#MI: <-- Unit type: d352B not supported
#      -Name "MasterInputSize_B" -UnitType "d352B" -DefValue "1" -OrderNr 1\
#      -DN_Path "6,20 67 24 01 30 02,C6,1"
#-->

#MI: <-- Unit type: d352B not supported
#      -Name "MasterOutputSize_B" -UnitType "d352B" -DefValue "1" -OrderNr 2\
#      -DN_Path "6,20 67 24 01 30 03,C6,1"
#-->

#MI: <-- Unit type: d352B not supported
#      -Name "StationAddress_B" -UnitType "d352B" -DefValue "126" -OrderNr 3\
#      -DN_Path "6,20 67 24 01 30 04,C6,1"
#-->

#MI: <-- Unit type: d352B not supported
#      -Name "D352Breset" -UnitType "d352B" -DefValue "0" -OrderNr 4\
#      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5
#-->

      -Name "StationNo" -UnitType "d378A" -DefValue "1" -OrderNr 1\
      -DN_Path "6,20 68 24 01 30 01,C6,1"

      -Name "BaudRate" -UnitType "d378A" -DefValue "0" -OrderNr 2\
      -DN_Path "6,20 68 24 01 30 02,C6,1"

      -Name "OccStat" -UnitType "d378A" -DefValue "1" -OrderNr 3\
      -DN_Path "6,20 68 24 01 30 03,C6,1"

      -Name "BasicIO" -UnitType "d378A" -DefValue "0" -OrderNr 4\
      -DN_Path "6,20 68 24 01 30 04,C1,1"

      -Name "D378Areset" -UnitType "d378A" -DefValue "0" -OrderNr 5\
      -DN_Path "4,20 01 24 01,C1,1" -DN_Service 5

#MI: <-- DeviceNet_Lean not supported
#      -Name "DataWidth_L" -UnitType "d351_Lean" -DefValue "3" -OrderNr 1\
#      -DL_Path "6,20 65 24 01 30 01,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "D351reset_L" -UnitType "d351_Lean" -DefValue "0" -OrderNr 2\
#      -DL_Path "4,20 01 24 01,C1,1" -DL_Service 5
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "MasterInputSize_B_L" -UnitType "d352_Lean" -DefValue "1" -OrderNr 1\
#      -DL_Path "6,20 67 24 01 30 02,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "MasterOutputSize_B_L" -UnitType "d352_Lean" -DefValue "1"\
#      -OrderNr 2 -DL_Path "6,20 67 24 01 30 03,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "StationAddress_B_L" -UnitType "d352_Lean" -DefValue "126"\
#      -OrderNr 3 -DL_Path "6,20 67 24 01 30 04,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "D352reset_L" -UnitType "d352_Lean" -DefValue "0" -OrderNr 4\
#      -DL_Path "4,20 01 24 01,C1,1" -DL_Service 5
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "StationNo_L" -UnitType "d378_Lean" -DefValue "1" -OrderNr 1\
#      -DL_Path "6,20 68 24 01 30 01,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "BaudRate_L" -UnitType "d378_Lean" -DefValue "0" -OrderNr 2\
#      -DL_Path "6,20 68 24 01 30 02,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "OccStat_L" -UnitType "d378_Lean" -DefValue "1" -OrderNr 3\
#      -DL_Path "6,20 68 24 01 30 03,C6,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "BasicIO_L" -UnitType "d378_Lean" -DefValue "0" -OrderNr 4\
#      -DL_Path "6,20 68 24 01 30 04,C1,1"
#-->

#MI: <-- DeviceNet_Lean not supported
#      -Name "D378reset_L" -UnitType "d378_Lean" -DefValue "0" -OrderNr 5\
#      -DL_Path "4,20 01 24 01,C1,1" -DL_Service 5
#-->
#
EIO_ACCESS:

      -Name "All" -Rapid  -LocalManual  -LocalAuto  -RemoteManual  -RemoteAuto 
#
SYSSIG_OUT:

      -Status "MotSupTrigg" -Signal "USER_MOTIONSUP_ON" -Arg1 "ROB_1"
#
SYSSIG_IN:

      -Signal "USER_START_INPUT" -Action "Start" -Arg1 "CONT"
